openapi: 3.0.3
info:
  title: 10xProject API - Flashcards
  description: |
    API do zarządzania fiszkami w aplikacji 10xProject.
    Pozwala na tworzenie i pobieranie fiszek z opcjami filtrowania, sortowania i paginacji.
  version: 1.0.0
  contact:
    name: 10xProject Team
    email: contact@10xproject.com

servers:
  - url: https://api.10xproject.com
    description: Produkcyjny serwer API
  - url: https://staging.10xproject.com
    description: Staging serwer API
  - url: http://localhost:4321
    description: Lokalny serwer deweloperski

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT token uzyskany podczas logowania

  schemas:
    FlashcardSource:
      type: string
      enum:
        - manual
        - ai-full
        - ai-edited
      description: Źródło pochodzenia fiszki

    CreateFlashcardDto:
      type: object
      required:
        - front
        - back
        - source
      properties:
        front:
          type: string
          maxLength: 200
          description: Przednia strona fiszki (pytanie)
          example: "Jaka jest stolica Polski?"
        back:
          type: string
          maxLength: 500
          description: Tylna strona fiszki (odpowiedź)
          example: "Warszawa"
        source:
          $ref: '#/components/schemas/FlashcardSource'
          example: "manual"

    FlashcardDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Unikatowy identyfikator fiszki
          example: 123
        front:
          type: string
          description: Przednia strona fiszki (pytanie)
          example: "Jaka jest stolica Polski?"
        back:
          type: string
          description: Tylna strona fiszki (odpowiedź)
          example: "Warszawa"
        user_id:
          type: string
          format: uuid
          description: Identyfikator użytkownika, do którego należy fiszka
          example: "550e8400-e29b-41d4-a716-446655440000"
        created_at:
          type: string
          format: date-time
          description: Data utworzenia fiszki
          example: "2023-04-21T12:34:56Z"
        updated_at:
          type: string
          format: date-time
          description: Data ostatniej aktualizacji fiszki
          example: "2023-04-21T12:34:56Z"

    PaginationDto:
      type: object
      properties:
        page:
          type: integer
          minimum: 1
          description: Bieżąca strona
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          description: Liczba elementów na stronę
          example: 20
        total:
          type: integer
          minimum: 0
          description: Całkowita liczba elementów
          example: 42

    FlashcardListResponseDto:
      type: object
      properties:
        flashcards:
          type: array
          items:
            $ref: '#/components/schemas/FlashcardDto'
        pagination:
          $ref: '#/components/schemas/PaginationDto'

    ErrorResponseDto:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Kod błędu
              example: "VALIDATION_ERROR"
            message:
              type: string
              description: Opis błędu
              example: "Nieprawidłowe dane fiszki."
            details:
              type: object
              description: Dodatkowe szczegóły błędu, np. błędy walidacji

paths:
  /api/flashcards:
    post:
      summary: Tworzy nową fiszkę
      description: |
        Tworzy nową fiszkę dla zalogowanego użytkownika.
        Wymagane jest podanie treści przedniej i tylnej strony fiszki oraz źródła.
      operationId: createFlashcard
      tags:
        - Flashcards
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFlashcardDto'
      responses:
        '201':
          description: Fiszka została utworzona
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlashcardDto'
        '400':
          description: Nieprawidłowe dane wejściowe
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '401':
          description: Brak autoryzacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '500':
          description: Błąd serwera
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
    
    get:
      summary: Pobiera listę fiszek
      description: |
        Pobiera listę fiszek zalogowanego użytkownika.
        Obsługuje filtry, sortowanie i paginację.
      operationId: getFlashcards
      tags:
        - Flashcards
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Numer strony (domyślnie 1)
          required: false
          schema:
            type: integer
            minimum: 1
            default: 1
        - name: limit
          in: query
          description: Liczba elementów na stronę (domyślnie 20, maksymalnie 100)
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: sort_by
          in: query
          description: Pole, po którym sortować wyniki
          required: false
          schema:
            type: string
            enum: [id, front, back, created_at, updated_at]
            default: created_at
        - name: filter[source]
          in: query
          description: Filtrowanie po źródle fiszki
          required: false
          schema:
            $ref: '#/components/schemas/FlashcardSource'
      responses:
        '200':
          description: Lista fiszek z informacjami o paginacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlashcardListResponseDto'
        '400':
          description: Nieprawidłowe parametry zapytania
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '401':
          description: Brak autoryzacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '500':
          description: Błąd serwera
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'

  /api/flashcards/{id}:
    parameters:
      - name: id
        in: path
        description: Identyfikator fiszki
        required: true
        schema:
          type: integer
          format: int64
    
    get:
      summary: Pobiera pojedynczą fiszkę
      description: |
        Pobiera szczegółowe informacje o pojedynczej fiszce na podstawie jej identyfikatora.
        Użytkownik może pobrać tylko swoje własne fiszki.
      operationId: getFlashcardById
      tags:
        - Flashcards
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Szczegóły fiszki
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlashcardDto'
        '400':
          description: Nieprawidłowy format ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '401':
          description: Brak autoryzacji
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '404':
          description: Fiszka nie została znaleziona
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto'
        '500':
          description: Błąd serwera
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponseDto' 